footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{ 
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 15px;
    }
    #redes{
        margin-bottom:15px
    }
    svg{
        height: 25px;
    width: 25px;
    fill:$white;
    }
}

