

@media (width < 480px){

    /* index */
   
    .navbar .container-fluid{
        justify-content:center
    }

    .botonera img{
        width:100%
    }

    .botonera .bk-yellow{
        padding:10px;
        margin-top:0
    }
    
    .d-flex{
        flex-direction:column;
        margin:auto;
    }

    .botonera .btn-dark{
        margin-top:15px
    }

    .ms-5{
        margin-left:0!important
    }

    .me-2{
        margin-right:0!important
    }

    .nav-link {
        text-align:center;
    }

    .carousel{
        display:none
    }

    .form-control{
        margin-bottom:0
    }


    #que-es img {
        width:80px;
        margin-top:30px
    }

    .animation{
        animation-name:unset
    }

    h1{
        font-size: $txXl;
        line-height:1;
    }

    h2{
        font-size:$txLg;
        line-height:1;
        max-width:80%;
        margin-bottom:15px
    }

    #que-es p{
        max-width:90%;
        font-size:$txSm;
        text-align:center
    }

    .grilla{
        padding:0;
        figure{
            width:100%
        }
    }


    form#subscribe{
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    .campo-1, .campo-2{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    #subscribe label, #subscribe input#nombre {
        margin:10px 0;
    }

    #subscribe input[type=submit]{
        margin:20px 0;
    }

    .bk-yellow{
        padding-bottom:20px; 
        margin-top:80px
    }

    header.bk-yellow{
        margin-top:0
    }

    footer.bk-black{
        padding:50px 0 20px
    }

    footer.bk-black img{
        width:60%
    }

    /* archivo */

    form#buscador{
        flex-direction:column;
        align-items: center;
    }

    #buscar-receta{
        display: flex;
        flex-direction: column;
    }

    #buscador label{
        text-align:center;
        margin:0 auto 15px
    }

    #buscador input[type=submit]{
        margin: 15px auto
    }

    #grid-archivo{
        padding:0
    }


    /* consultorio */

    form#consulta{
        flex-direction: column;
        gap:0
    }
    
    #consulta label {
        text-align: center;
        margin:auto
    }

    #consulta input{
        height:40px;
        width:90%;
        margin:15px auto
    }

    #mensaje {
        width:90%;
        margin:15px auto
    }


    #mensaje input[type=submit]{
        margin:auto
    }

    /* receta */

    .receta{
        display: block;
        width:90%;
        margin:auto
    }

    .pasos h4, .ingredientes h4{
        margin-top:40px
    }

    .receta ul, ol{
        font-size:$txSm;
    }        
    


    /* sobre mi */
    
    #perfil, #bio{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:90%;
        margin: auto;
        img{
            width:150px;
            height:150px;
            margin-top:20px
        }
        p{
        font-size:$txSm;
        text-align:left
        }

        .textual{
            margin-top:15px;
            text-align: center;
            font-size: $txLg;
        }

        .nombre{
            margin-bottom:40px
        }
    }

/* Error */

    .error{
         h2{
        font-size:$txLg
        }
        p{
        font-size:$txSm
        }
        img{
            width:40vw
        }
    }

}




