

@media (width < 480px){

    /* index */
   
    .botonera img{
        width:250px
    }

    .botonera .bk-yellow{
        padding:10px;
        margin-top:0
    }
    
    .d-flex{
        flex-direction:column;
        margin:auto
    }

    .botonera .btn-dark{
        margin-top:15px
    }

    .form-control{
        margin-bottom:0
    }

    #destacada img{
        margin-bottom:0
    }

    #destacada h1{
        position:relative;
        opacity:1;
        top:unset;
        left:unset;
        height: auto;
        margin-top:15px;
        font-size:$txMd;
        margin-bottom:60px
    }

    #que-es img {
        width:80px
    }

   h2{
        font-size:$txXl;
        line-height:1;
        max-width:80%;
        margin-bottom:15px
    }

    #que-es p{
        max-width:90%;
        font-size:$txMd;
        text-align:center
    }

    .grilla{
        padding:0;
        figure{
            width:100%
        }
    }


    form#subscribe{
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    .campo-1, .campo-2{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    #subscribe label, #subscribe input#nombre {
        margin:10px 0;
    }

    #subscribe input[type=submit]{
        margin:20px 0;
    }

    .bk-yellow{
        padding-bottom:20px; 
        margin-top:80px
    }

    header.bk-yellow{
        margin-top:0
    }

    .bk-black{
        padding:50px 0 20px
        img{
            width:60%
        }
    }

   

    /* archivo */

    form#buscador{
        flex-direction:column;
        align-items: center;
    }

    #buscar-receta{
        display: flex;
        flex-direction: column;
    }

    #buscador label{
        text-align:center;
        margin:0 auto 15px
    }

    #buscador input[type=submit]{
        margin: 15px auto
    }


    /* consultorio */

    form#consulta{
        flex-direction: column;
        gap:0
    }
    
    #consulta label {
        text-align: center;
        margin:auto
    }

    #consulta input{
        height:40px;
        width:90%;
        margin:15px auto
    }

    #mensaje {
        width:90%;
        margin:15px auto
    }


    #mensaje input[type=submit]{
        margin:auto
    }

    /* receta */

    .receta{
        display: block;
        width:90%;
        margin:auto
    }

    .pasos h4, .ingredientes h4{
        margin-top:40px
    }


    /* sobre mi */
    
    #bio{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:90%;
        margin: auto;
        img{
            width:150px;
            height:150px;
            margin-bottom:20px
        }
        p{
        font-size:$txMd;
        text-align:center
        }
    }
}