
$mainColor:rgb(255, 221, 1);
$black: #2d2c2c;
$white:#f5f5f5;
$gray:rgb(242, 242, 239);

$mainFont:'Roboto', sans-serif;
$displayFont: 'Caveat Brush', cursive;

$txSm:1.2rem;
$txMd:1.5rem;
$txLg:2.5rem;
$txXl:4rem;

$txBold:400;
$txLight:100;
$txRegular:300;

$mdBox:740px;


